<br><div style="background-color:#fff; padding: .7em;"><div id="api_upc_cid10166_iid4372"></div><script type="text/javascript"src="https://api3.libcal.com/api_events.php?iid=4372&m=upc&cid=10166&audience=&c=5137&d=&l=5&target=_blank&context=object&format=js"></script><style>h3.s-lc-ea-h3 {
  font-size: 1.3em !important;
  text-align: center;
  margin: .8em 0 !important;
}

table.s-lc-ea-tb {
  margin: 1.5em 0 2em 0;
  font-size: .9em;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.s-lc-ea-tb td {
  padding: 0;
}

td.s-lc-ea-l {
  display: none;
}

tr.s-lc-ea-tcat {
  display: none;
}

tr.s-lc-ea-tloc {
  display: none;
}

tr.s-lc-ea-tpre {
  display: none;
}

tr.tcam {
  display: none;
}

.tcam td {
  text-transform: uppercase;
  letter-spacing: .02em !important;
  color: #007336;
  text-align: right;
}

tr.s-lc-ea-ttit a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700 !important;
  font-size: 1.1em;
  text-decoration: underline;
}

.s-lc-ea-tdes p {
  margin: .5em 0;
}

.s-lc-ea-tdes td {
  padding-bottom: .6em;
}

</style>