<style>

table {
  background-color: #fff !important;
}

.bk_title {
  font-family: "Open Sans";
  color: #236077;
  display: block;
}

.bk_author {
  color: #696764;
  display: inline-block;
}

.bk_author a:link, a:visited {
    color: #007336;
}

.bk_author a:hover, a:active {
    color: #4c9d72;
}

.bk_pubdate, .bk_isbn {
  display: none;
  margin: 0;
  padding: 0;
}

.bk_opac {
  display: block;
  margin-top: 5px;
}

a.bk_opac {
  display: inline-block;
  background-color: #e9eff1;
  border-radius: 2px;
  border: 1px solid #d3dfe3;
  padding: 5px;
  font-size: .9em;
  line-height: .9em;
  text-decoration: none !important;
}

.bk_opac a:hover {
  background-color: #bdcfd6;
}

br {
  display: none;
}

</style>
