<style>

.eventList a:link, a:visited {
  /*color: #009445 !important;*/
  text-decoration: none !important;
}

.eventList a:hover, a:active {
  text-decoration: underline !important;
}

.subheadFacility {
font-size: 1em !important;
line-height: 1em !important;
margin: 0 0 -.5em 0 !important;
}

div.eventHeader {
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 20px 0 10px 0;
}

div.wcm-events {
  color: #696764;
  max-width: 40em;
  overflow: hidden;
}

.eventList {
  font-size: .9em;
  /*padding: 10px;*/
  line-height: 1.2em;
}

.eventList .item {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #D3D3D3;
}

.eventList .item::after {
  content: "";
  clear: both;
  display: table;
}

.eventList .title {
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.eventList .time {
  color: #737373;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 5px;
}

.eventList .date {
  float: right;
}

.eventList img {
  display: none;
  /*width: 100px;
  float: left !important;
  margin-bottom: 3px;
  margin-right: 8px;*/
}

.eventList .location {
  line-height: 2em;
  color: #009445;
}

.eventList .branch {
  display: none;
}

.sidebarContainer {
  font-size: .9em;
  line-height: 1.2;
  background-color: #edebe6;
  text-align: center;
  padding: 10px;
}

.hoursTable {
  width: 100%;
  margin-bottom: 1em;
}

/*.hoursTable tr {
  border-bottom: solid 1px #D3D3D3;
}*/

.hoursTable td {
  border-bottom: solid 1px #D3D3D3;
  padding: 2px;
  margin: 0;
}

.hoursDay {
  font-weight: bolder;
}

.hoursRightJ {
  text-align: right;
}

</style>
